nav {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

nav a {
    text-decoration: none;    
}

nav a:hover {
    color: #CCC;
}

.active {
    color: black;
    background-color: #FFF;
}